In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
ratings = pd.read_csv('/content/drive/MyDrive/RS/RS-lab/archive/ratings.csv')

In [ ]:
ratings

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [ ]:
ratings['userId'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546,
       547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
       560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572,
       573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585,
       586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598,
       599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611,
       612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624,
       625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637,
       638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650,
       651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663,
       664, 665, 666, 667, 668, 669, 670, 671])

In [ ]:
 movie_ids = ratings['movieId'].unique()

In [ ]:
movie_ids

array([  31, 1029, 1061, ...,  129, 4736, 6425])

In [ ]:
len(ratings['movieId'].unique())

9066

In [ ]:
movies = pd.read_csv("/content/drive/MyDrive/RS/RS-lab/archive/movies.csv")

In [ ]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary
9123,164977,The Gay Desperado (1936),Comedy
9124,164979,"Women of '69, Unboxed",Documentary

In [ ]:
links = pd.read_csv("/content/drive/MyDrive/RS/RS-lab/archive/links.csv")

In [ ]:
links

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9120   162672  3859980  402672.0
9121   163056  4262980  315011.0
9122   163949  2531318  391698.0
9123   164977    27660  137608.0
9124   164979  3447228  410803.0

[9125 rows x 3 columns]

In [ ]:
tags = pd.read_csv("/content/drive/MyDrive/RS/RS-lab/archive/tags.csv")

In [ ]:
tags

      userId  movieId                      tag   timestamp
0         15      339  sandra 'boring' bullock  1138537770
1         15     1955                  dentist  1193435061
2         15     7478                 Cambodia  1170560997
3         15    32892                  Russian  1170626366
4         15    34162              forgettable  1141391765
...      ...      ...                      ...         ...
1291     660   135518          meaning of life  1436680885
1292     660   135518            philosophical  1436680885
1293     660   135518                   sci-fi  1436680885
1294     663      260                   action  1438398078
1295     663      260                     Syfy  1438398050

[1296 rows x 4 columns]

In [ ]:
ratings.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

Collabrative

In [ ]:
item = ratings.groupby('movieId', as_index=False)

In [ ]:
item = item.aggregate(np.sum)

In [ ]:
item

      movieId  userId  rating     timestamp
0           1   83624   956.5  272469719178
1           2   34123   364.0  114417318334
2           3   22091   186.5   57008330979
3           4    4622    31.0   12061135722
4           5   17964   183.0   55816325011
...       ...     ...     ...           ...
9061   161944     287     5.0    1470167824
9062   162376      73     4.5    1474255532
9063   162542     611     5.0    1471520667
9064   162672     611     3.0    1471523986
9065   163949     547     5.0    1476419239

[9066 rows x 4 columns]

In [ ]:
user_item_m = ratings.pivot('userId','movieId','rating').fillna(0)
print(f'Shape: {user_item_m.shape}')

Shape: (671, 9066)

In [ ]:
user_item_m

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
669,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
670,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
671,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
user_user = cosine_similarity(user_item_m)

In [ ]:
user_user.shape

(671, 671)

In [ ]:
n = int(input("Enter user Id : "))
l = []
for i in range(0,671):
    l.append([user_user[n,i] , i ])
l = pd.DataFrame(l)

Enter user Id : 2

In [ ]:
l = l.sort_values(by=[0], ascending=False)
user_id = l.iloc[1:20,1]

In [ ]:
l

            0    1
2    1.000000    2
378  0.319619  378
145  0.295441  145
512  0.281170  512
93   0.262043   93
..        ...  ...
644  0.000000  644
203  0.000000  203
44   0.000000   44
484  0.000000  484
0    0.000000    0

[671 rows x 2 columns]

In [ ]:
user_id

378    378
145    145
512    512
93      93
457    457
583    583
162    162
622    622
7        7
294    294
41      41
354    354
561    561
361    361
522    522
115    115
190    190
142    142
441    441
Name: 1, dtype: int64

In [ ]:
recommend = user_item.loc[user_id].mean(0).sort_values(ascending=False)

In [ ]:
recommend

284     670207.236842
321     663963.815789
266     662282.894737
525     604171.052632
232     590003.289474
            ...
4562       240.131579
5519       240.131579
4553       240.131579
6738       240.131579
6963       240.131579
Length: 9067, dtype: float64

In [ ]:
recommend

In [ ]:
print(list(recommend.index.values.tolist()))

[284, 321, 266, 525, 232, 2062, 472, 427, 953, 0, 535, 522, 2288, 955, 1024, 100, 695, 966, 48, 2374, 406, 3869, 45, 521, 129, 2212, 31, 4391, 644, 328, 1590, 523, 5017, 344, 1253, 954, 3419, 524, 527, 1352, 341, 2860, 1019, 994, 951, 912, 888, 561, 977, 1045, 485, 840, 3367, 866, 2173, 969, 880, 1359, 4686, 263, 32, 2340, 1336, 447, 1288, 642, 6892, 3854, 970, 3803, 615, 3845, 309, 2407, 101, 733, 529, 203, 957, 144, 282, 617, 5611, 962, 331, 2506, 1906, 1367, 745, 1523, 4081, 1530, 4604, 964, 740, 1013, 3033, 3871, 322, 7551, 626, 2103, 3199, 1486, 5116, 314, 1224, 196, 1843, 483, 37, 225, 4135, 4846, 9, 978, 520, 981, 2004, 2241, 34, 1125, 1012, 2235, 6142, 5, 2531, 519, 1839, 725, 2398, 4412, 1131, 4121, 3113, 3810, 3213, 294, 403, 1866, 24, 1281, 5141, 3799, 3228, 729, 2338, 1675, 1393, 1001, 2147, 976, 2164, 1, 262, 1219, 1000, 132, 1728, 258, 744, 870, 6519, 871, 2780, 15, 304, 1573, 1480, 1257, 1813, 1060, 3000, 268, 16, 20, 2154, 1042, 963, 302, 3223, 122, 1006, 494, 985, 975, 383, 4759, 1562, 58, 389, 2082, 960, 1100, 163, 6086, 5387, 839, 454, 1120, 1057, 184, 96, 422, 1315, 916, 1574, 140, 2038, 1744, 207, 5472, 2248, 3156, 1032, 10, 6920, 2719, 773, 1294, 832, 6446, 4427, 4321, 87, 1794, 4581, 6363, 455, 724, 5380, 1641, 1251, 3233, 391, 6956, 5485, 6824, 1132, 741, 734, 498, 5569, 675, 1821, 1114, 1905, 1004, 720, 4597, 881, 3157, 941, 2453, 2160, 1516, 731, 4227, 526, 622, 2094, 3860, 2114, 904, 1102, 238, 4099, 1209, 989, 4417, 2609, 332, 956, 1142, 218, 3380, 891, 7388, 7185, 2925, 1330, 2772, 6724, 1305, 2893, 5967, 7212, 237, 1036, 318, 658, 1055, 1129, 444, 18, 1559, 6550, 528, 2168, 6606, 1864, 1916, 315, 1836, 1303, 1039, 1581, 2553, 361, 6276, 1279, 2169, 2552, 1116, 4255, 1331, 1199, 1390, 6123, 2727, 958, 1332, 996, 3123, 1020, 142, 3916, 786, 984, 1110, 875, 2138, 3182, 961, 650, 6535, 3999, 3002, 998, 988, 7262, 441, 1364, 5523, 5012, 2541, 6632, 2436, 652, 1615, 2396, 283, 1309, 599, 2026, 3198, 857, 334, 1374, 1021, 208, 6424, 2129, 649, 3420, 466, 971, 496, 4665, 2063, 1117, 4875, 2366, 2611, 6798, 1030, 885, 931, 826, 7194, 7051, 1934, 2752, 550, 1976, 4605, 1016, 2069, 7435, 1234, 564, 1239, 567, 307, 1722, 6116, 1078, 6516, 5478, 419, 233, 4098, 2818, 1669, 2476, 1568, 2581, 1640, 1567, 3268, 1375, 414, 2, 4413, 6190, 735, 461, 49, 1017, 1515, 2838, 1776, 1811, 661, 1624, 1134, 7865, 883, 1047, 4, 1563, 3882, 3387, 2159, 310, 607, 2493, 54, 4838, 1509, 152, 1041, 1115, 1849, 8507, 46, 879, 858, 836, 474, 7928, 1702, 986, 8200, 1065, 2793, 487, 2442, 2415, 6, 1815, 2318, 1638, 1083, 2334, 4051, 1247, 844, 3699, 130, 7594, 4164, 7532, 3215, 693, 6289, 2612, 7245, 746, 1029, 2687, 743, 381, 990, 4843, 137, 5068, 298, 2823, 1636, 1519, 2035, 198, 5604, 1660, 6731, 647, 4262, 4871, 5011, 5467, 1026, 1665, 6278, 968, 102, 2198, 719, 28, 1360, 340, 3461, 2700, 3173, 979, 1455, 1962, 2037, 2725, 5411, 7218, 906, 2211, 4367, 1514, 723, 868, 6621, 892, 313, 7647, 2409, 495, 219, 2218, 6365, 893, 681, 3004, 6534, 244, 1143, 2798, 2970, 833, 7390, 4602, 173, 2689, 938, 1112, 2380, 432, 1798, 1003, 6136, 6176, 1472, 1473, 43, 1187, 1449, 285, 4143, 3127, 648, 6859, 4813, 370, 97, 1052, 6562, 1484, 5973, 6162, 1565, 5529, 3764, 3226, 174, 1025, 1322, 8603, 139, 1269, 1216, 6460, 2804, 1087, 1023, 1101, 159, 543, 6376, 1524, 65, 3782, 254, 6515, 1668, 7817, 2003, 1111, 5618, 1801, 656, 6713, 1703, 1771, 1556, 124, 5393, 8505, 1010, 2337, 3511, 2764, 1140, 4512, 1819, 1645, 1763, 3601, 1917, 1066, 7089, 164, 1647, 3219, 831, 7479, 141, 1343, 2709, 3364, 1089, 1863, 384, 3092, 2469, 390, 823, 7325, 1743, 2658, 2500, 1715, 6816, 2956, 576, 147, 2784, 1582, 30, 274, 2309, 575, 2740, 2213, 3644, 1520, 3460, 8681, 4157, 774, 1028, 1529, 423, 4368, 1810, 1656, 7646, 1008, 1507, 4147, 3378, 2084, 2363, 1481, 4394, 275, 7637, 7926, 470, 281, 1930, 5971, 1038, 2490, 4982, 21, 190, 1708, 2181, 2165, 3646, 2532, 2300, 1406, 197, 518, 2487, 5925, 730, 3374, 1716, 224, 6942, 1015, 934, 1522, 5432, 1869, 6721, 151, 5431, 6485, 1904, 5976, 3741, 775, 2894, 2195, 3205, 2115, 1936, 3421, 1518, 5619, 1619, 2730, 5475, 899, 4897, 8435, 1585, 1517, 3001, 1049, 2688, 2174, 2608, 7250, 1527, 380, 249, 4878, 8744, 1580, 2385, 859, 1901, 2293, 2367, 1564, 7189, 946, 2551, 753, 2602, 1684, 973, 2496, 1046, 1521, 6156, 6202, 1992, 4684, 2887, 228, 7008, 6026, 2477, 2368, 1692, 2603, 560, 1173, 7962, 6765, 2180, 3217, 2426, 6106, 5435, 610, 3697, 619, 884, 4498, 1246, 7793, 503, 3856, 785, 732, 930, 537, 475, 3456, 2239, 4388, 2957, 6231, 7484, 4407, 1108, 726, 771, 7098, 2987, 2437, 1476, 416, 209, 6367, 8588, 8377, 5609, 1830, 6832, 6685, 1194, 4807, 7229, 2499, 6923, 2842, 13, 428, 2070, 872, 944, 887, 1091, 6230, 478, 6240, 1685, 943, 6412, 1654, 886, 737, 699, 6243, 1879, 999, 1146, 336, 326, 5975, 23, 1572, 4005, 2425, 1698, 171, 1915, 2937, 7576, 8563, 8668, 8854, 877, 42, 5152, 1454, 8442, 8745, 2686, 2149, 4235, 901, 1243, 204, 1983, 479, 762, 3309, 3089, 2492, 7502, 2150, 843, 3710, 6711, 1834, 2480, 4882, 3458, 2754, 5627, 2982, 5148, 1144, 2643, 7930, 2619, 4930, 1737, 482, 1973, 3884, 2156, 3427, 3045, 8863, 7744, 2361, 3442, 1690, 4392, 4031, 1358, 5162, 8036, 824, 848, 6381, 1334, 1357, 4350, 635, 748, 5568, 4696, 902, 3025, 2161, 4551, 606, 1695, 6980, 5081, 2775, 2769, 2879, 8086, 1881, 183, 1167, 802, 829, 3414, 2339, 1933, 98, 1894, 180, 8589, 3093, 2447, 2482, 2547, 1035, 39, 202, 2025, 7353, 1988, 143, 1583, 2651, 983, 980, 6129, 1544, 3317, 5123, 1011, 276, 1345, 3814, 345, 7831, 8550, 6463, 1118, 154, 56, 4638, 1876, 7341, 252, 1421, 2232, 4304, 4592, 1014, 736, 6719, 3220, 1773, 997, 1575, 6298, 362, 3886, 8185, 1456, 3920, 404, 3281, 3210, 6708, 2829, 1699, 3393, 2179, 1051, 5522, 3122, 3540, 2402, 721, 1697, 1940, 750, 123, 1037, 2414, 1764, 4107, 195, 754, 1512, 8427, 320, 8664, 1848, 4873, 149, 8426, 378, 17, 2152, 3031, 5115, 2645, 325, 7666, 245, 4258, 1822, 1094, 2720, 2236, 1674, 64, 598, 2148, 1285, 2478, 765, 7635, 2646, 2841, 2534, 2273, 2538, 2570, 8156, 5610, 4576, 1846, 5981, 2458, 2902, 4801, 2202, 4756, 2831, 7783, 2247, 2817, 2904, 4987, 3685, 2383, 4134, 6678, 8412, 2573, 4610, 673, 2636, 3947, 119, 3630, 1341, 1193, 2481, 6692, 6032, 8153, 170, 1908, 1627, 1002, 7819, 1259, 3786, 6747, 967, 947, 5532, 121, 2555, 2801, 1092, 3036, 556, 3192, 6771, 1098, 2287, 6011, 3188, 3058, 1034, 2613, 2568, 6416, 1506, 86, 3295, 2685, 6219, 1333, 6630, 439, 742, 5099, 4318, 1422, 113, 3209, 5144, 6993, 2631, 6029, 655, 3641, 911, 7648, 234, 3796, 73, 835, 1053, 2348, 2952, 841, 2372, 1005, 126, 271, 5381, 2224, 2953, 1007, 6794, 849, 2997, 179, 440, 1625, 2629, 8292, 690, 1308, 6290, 2134, 2440, 819, 8131, 2438, 2083, 1462, 1475, 5624, 1258, 2388, 1126, 2185, 2665, 6224, 337, 1970, 6273, 1678, 837, 2370, 1185, 1397, 4560, 7372, 27, 8283, 2550, 2778, 6413, 869, 1975, 3548, 3801, 2497, 6905, 6221, 7629, 2562, 2263, 7704, 5903, 516, 3010, 6433, 3074, 92, 625, 2249, 760, 770, 2940, 1229, 292, 817, 882, 915, 2093, 2056, 1027, 3249, 772, 993, 6759, 2822, 3232, 5605, 8105, 8521, 1150, 908, 1113, 253, 6404, 1998, 1931, 4484, 827, 6039, 2992, 6166, 1088, 438, 5819, 2610, 3792, 6897, 992, 2465, 816, 343, 5586, 1691, 2681, 2098, 3160, 2378, 155, 4229, 6133, 1262, 3187, 22, 3175, 1050, 221, 7096, 2210, 2684, 2806, 1290, 1853, 965, 1354, 4778, 1463, 189, 5945, 8152, 280, 4884, 8063, 82, 2837, 1820, 6647, 680, 2272, 5473, 2755, 4000, 93, 6423, 3224, 2768, 5009, 937, 1289, 2815, 1040, 3059, 2616, 1607, 1301, 1676, 5581, 856, 335, 79, 1980, 6998, 2341, 8749, 1686, 1261, 3259, 1920, 788, 80, 7595, 2335, 5390, 533, 6361, 2834, 613, 2400, 3807, 1648, 4044, 6426, 248, 2824, 2058, 2905, 8, 2958, 6830, 260, 4355, 7455, 1913, 6669, 4319, 5479, 5906, 4025, 2120, 460, 2303, 4579, 1404, 1340, 6198, 4723, 1577, 6935, 5355, 2832, 448, 783, 2835, 2301, 8751, 6849, 932, 7938, 133, 751, 1453, 3768, 1181, 1346, 7402, 1886, 2994, 4181, 7863, 2133, 6531, 2669, 2404, 8366, 2162, 1018, 1642, 5020, 2614, 2191, 1490, 3973, 363, 267, 559, 7833, 1942, 1966, 707, 6858, 2868, 453, 7550, 1885, 1923, 1921, 2428, 1022, 1056, 1571, 3110, 974, 873, 4552, 2186, 1217, 346, 1919, 1165, 1903, 6270, 621, 7115, 4059, 6254, 75, 909, 1526, 7818, 476, 3216, 813, 83, 2416, 499, 3512, 1888, 1620, 1632, 3965, 834, 2756, 110, 2605, 4420, 7159, 569, 69, 3102, 2575, 425, 3447, 4414, 4739, 3510, 2081, 769, 465, 1977, 2540, 752, 3279, 4687, 6448, 1704, 5022, 4169, 8576, 4908, 1755, 2259, 1937, 5626, 1208, 530, 3684, 577, 7998, 4269, 634, 1672, 6286, 1696, 1349, 3028, 1829, 6812, 2464, 952, 2422, 2401, 2139, 205, 821, 1419, 3190, 3908, 6958, 2884, 6775, 3023, 8117, 399, 1329, 3165, 6458, 1780, 2530, 3377, 2116, 3039, 2351, 2770, 2188, 2951, 1775, 2010, 3441, 4555, 6955, 6178, 1566, 2939, 1104, 1124, 8440, 2743, 2976, 1510, 3431, 7052, 68, 2424, 2537, 1847, 806, 3050, 2691, 1048, 2955, 6982, 6777, 8488, 1410, 2935, 2193, 2625, 5024, 1260, 1630, 2911, 1536, 4204, 4112, 2397, 1086, 486, 6457, 4139, 3229, 5131, 5420, 4903, 2802, 1391, 6746, 814, 4309, 5814, 1961, 1650, 1107, 7820, 1058, 1479, 8663, 7596, 11, 288, 1677, 2960, 4226, 1643, 1043, 4791, 5095, 1501, 2792, 8748, 3202, 2600, 1670, 199, 2627, 2520, 1701, 6652, 2993, 1508, 2017, 637, 2143, 8030, 5385, 1369, 70, 1922, 2623, 6842, 192, 166, 1513, 8316, 739, 513, 1828, 7164, 796, 492, 5615, 1379, 7904, 463, 1287, 2930, 1688, 7191, 1429, 890, 936, 5328, 201, 6957, 1282, 5143, 1694, 4666, 3197, 8432, 484, 259, 862, 3885, 8382, 2369, 2517, 1749, 4483, 2192, 7198, 763, 7053, 1266, 756, 8142, 2726, 437, 8275, 7873, 2588, 3060, 6680, 1133, 7119, 1446, 373, 4162, 1576, 3428, 6322, 1868, 8726, 1159, 8008, 5534, 8404, 1478, 5964, 727, 5913, 3524, 722, 6700, 2615, 7501, 5842, 7765, 2170, 367, 1483, 4482, 1389, 1079, 982, 1350, 1121, 8045, 3465, 3861, 229, 4840, 2468, 1154, 6774, 2176, 1779, 1401, 1804, 1231, 1729, 1788, 2238, 578, 1889, 2291, 540, 7135, 2360, 3787, 3185, 4146, 6263, 7651, 5150, 2673, 6673, 728, 5583, 2870, 172, 2460, 1777, 1201, 3795, 6552, 2175, 2044, 2183, 3430, 1033, 5468, 2489, 2682, 7095, 3218, 6579, 1584, 4738, 1974, 2898, 4607, 825, 2617, 1370, 53, 8694, 5005, 3081, 1459, 2923, 211, 7201, 2024, 1031, 2900, 1750, 7174, 7636, 6646, 3472, 4845, 6409, 135, 6826, 5942, 41, 4528, 536, 2788, 3355, 6924, 8909, 2548, 299, 4167, 2572, 2620, 2813, 2799, 5915, 1464, 8318, 766, 3581, 1044, 1857, 2467, 1528, 3237, 1671, 4445, 5106, 1873, 1009, 3486, 4136, 3088, 5074, 3780, 84, 1649, 6555, 5101, 1932, 6053, 6684, 7036, 1493, 2199, 696, 338, 2177, 1628, 5070, 3174, 2763, 303, 6388, 8396, 758, 1220, 7315, 800, 2354, 8282, 861, 6199, 3267, 8026, 6960, 2006, 3097, 3819, 2561, 1860, 1525, 6170, 316, 220, 1769, 2252, 7358, 5168, 3816, 7180, 2910, 2965, 7099, 2621, 654, 347, 1263, 767, 6683, 1795, 7768, 7183, 1307, 1072, 29, 2626, 2567, 7797, 660, 61, 8319, 2187, 1355, 7069, 3970, 1614, 2777, 4419, 2735, 4354, 4206, 6483, 1739, 838, 4925, 7726, 2459, 2885, 768, 1342, 1119, 4462, 950, 7618, 8191, 1897, 2618, 397, 1818, 3095, 6877, 2365, 603, 2197, 2494, 889, 7340, 4957, 7181, 33, 369, 5521, 1700, 449, 342, 1833, 3128, 3371, 2929, 3366, 3178, 4395, 4691, 5013, 7090, 3251, 2505, 2746, 1097, 5561, 2189, 2155, 2607, 2583, 657, 987, 2371, 3498, 3201, 2711, 6990, 3298, 945, 3290, 1859, 1242, 8176, 2503, 2375, 1183, 917, 3239, 44, 1926, 376, 76, 4681, 6744, 6160, 638, 1955, 2079, 187, 4386, 3855, 4894, 2630, 462, 689, 1802, 3781, 7667, 6676, 6650, 6186, 1496, 3402, 6501, 4870, 7068, 4917, 2679, 4188, 2536, 2295, 1587, 1900, 1337, 8406, 2819, 3972, 156, 2433, 2716, 1659, 7750, 1870, 357, 2848, 3628, 2118, 2878, 2419, 4743, 4983, 4835, 1148, 1594, 2473, 6220, 6291, 2849, 6654, 668, 5096, 1286, 4306, 3642, 1666, 1621, 3762, 182, 493, 4247, 395, 3138, 1511, 1152, 5157, 1693, 682, 8995, 5602, 467, 2797, 1418, 8132, 3339, 5132, 6781, 330, 3434, 9019, 3048, 949, 2654, 2078, 1912, 3212, 7045, 3870, 2277, 7870, 2546, 618, 2556, 3848, 3842, 8324, 2604, 4794, 2030, 239, 2776, 2521, 3047, 4851, 3140, 4689, 6705, 3953, 2452, 6236, 6157, 8411, 5834, 1137, 2942, 2996, 2652, 7712, 7160, 1899, 2938, 1652, 6529, 6498, 2909, 1171, 6383, 600, 3222, 2710, 6750, 5075, 4271, 4876, 2931, 8960, 5102, 3221, 6818, 1054, 8654, 2327, 3278, 1629, 377, 7531, 5950, 365, 4777, 6441, 6679, 2413, 4708, 2113, 935, 7004, 1845, 822, 2021, 2090, 1948, 8379, 2463, 372, 3851, 3184, 7936, 5980, 5651, 679, 2050, 1735, 2066, 4858, 273, 5376, 6214, 995, 206, 1713, 818, 3236, 2246, 2826, 3669, 2606, 5021, 3158, 19, 2514, 371, 3971, 2266, 8575, 1348, 3351, 7070, 2290, 7303, 616, 3671, 4189, 2820, 815, 8781, 552, 4041, 7563, 5336, 922, 2888, 2296, 7073, 1851, 8309, 6512, 1487, 3588, 1653, 4046, 297, 1731, 401, 4849, 3307, 72, 2399, 6930, 7809, 8113, 850, 1403, 1667, 7965, 895, 2343, 3067, 3208, 4757, 3054, 1296, 1867, 5620, 3368, 3008, 7233, 3336, 2405, 436, 138, 12, 1683, 5080, 8305, 8714, 3136, 8700, 3235, 3, 5121, 89, 6791, 3256, 5139, 2795, 3624, 8573, 847, 3922, 1497, 6052, 4113, 7681, 820, 4695, 1871, 481, 6206, 5977, 1179, 2961, 5542, 442, 7887, 2518, 5424, 2564, 358, 5030, 3800, 3183, 4704, 1662, 1084, 2015, 7477, 8471, 329, 512, 7787, 811, 4045, 1631, 8658, 1378, 3587, 1877, 790, 903, 8434, 1420, 8154, 907, 5563, 1924, 4567, 2135, 2072, 7398, 3804, 549, 324, 4722, 6503, 5025, 2347, 4779, 4740, 489, 2359, 738, 8056, 5337, 4047, 3191, 1721, 2721, 5471, 3880, 1197, 1553, 1736, 4387, 6642, 6114, 5579, 2782, 8683, 2261, 4976, 293, 4393, 2535, 1914, 1595, 242, 602, 2986, 6811, 7296, 2311, 4856, 6544, 3186, 3894, 2053, 4546, 1502, 291, 3668, 2642, 6335, 1680, 1718, 1599, 1312, 2316, 94, 5214, 2926, 2717, 4055, 4744, 588, 1604, 105, 1626, 429, 3927, 6949, 1500, 2454, 1414, 3513, 8243, 412, 5560, 5061, 111, 1138, 5008, 1945, 394, 2305, 7862, 6117, 63, 3645, 2674, 1090, 3868, 568, 452, 8592, 876, 1951, 7828, 1711, 5439, 6196, 5191, 3831, 2690, 1891, 2299, 1720, 3663, 1882, 2667, 3463, 134, 8102, 3893, 2475, 333, 3169, 1603, 1890, 5312, 230, 5018, 1785, 5389, 2346, 6455, 2728, 7299, 7778, 555, 4061, 4958, 1319, 4397, 6275, 7295, 1300, 2014, 7186, 4033, 6303, 2576, 6218, 114, 2208, 8322, 3453, 6879, 160, 1431, 3408, 1789, 1862, 312, 295, 2250, 1130, 3352, 491, 6833, 5960, 7391, 1435, 1477, 2178, 2019, 4074, 5617, 6648, 7263, 7404, 7782, 4792, 3522, 1156, 715, 2628, 3500, 5193, 3751, 2264, 3745, 6226, 7503, 1503, 2559, 2117, 4293, 7723, 4598, 6103, 1812, 3912, 2543, 2317, 270, 803, 3388, 7441, 3982, 4497, 8020, 2985, 5935, 1323, 2622, 5937, 8448, 150, 6359, 1504, 684, 2779, 7289, 128, 2231, 662, 2137, 1423, 1855, 2749, 7766, 7767, 5938, 14, 7238, 1545, 4883, 6707, 2065, 2331, 1682, 959, 8118, 4561, 7894, 6112, 468, 2988, 3806, 3112, 1884, 6613, 4122, 1200, 4732, 1911, 2390, 7048, 3775, 287, 6421, 562, 2355, 8643, 57, 6706, 8564, 2292, 6866, 8038, 8313, 8752, 1681, 8441, 2018, 7140, 2744, 2214, 2435, 417, 8452, 1714, 8984, 2980, 7349, 8450, 6191, 4220, 5722, 755, 5100, 2677, 2657, 7803, 3754, 4945, 1161, 2959, 8078, 6089, 7523, 4709, 1077, 2005, 2809, 4981, 5392, 4954, 584, 85, 6200, 6437, 6201, 3381, 4914, 5533, 8421, 6543, 8007, 7799, 1717, 7764, 874, 7254, 5585, 3496, 5180, 8165, 4523, 1938, 1275, 2863, 7760, 4109, 8740, 4460, 1075, 8913, 5128, 500, 305, 2332, 400, 60, 7605, 5053, 411, 7589, 692, 5979, 2353, 2461, 7572, 8900, 6173, 586, 8199, 6831, 1892, 1387, 488, 7993, 317, 3706, 7711, 4509, 580, 8578, 1103, 157, 6803, 7100, 4996, 6868, 4765, 1105, 1644, 38, 3452, 3328, 5108, 2847, 1384, 7902, 2852, 5291, 7047, 2491, 8567, 464, 4860, 6854, 4601, 2027, 2470, 1613, 2237, 2760, 1313, 7876, 2999, 3955, 2558, 4706, 6396, 7025, 4939, 4508, 7792, 6131, 2872, 168, 1960, 4608, 2240, 118, 6204, 2807, 2869, 379, 6763, 6003, 4060, 7680, 4968, 5712, 8194, 5000, 7720, 1398, 6884, 6671, 7707, 4105, 5762, 327, 8307, 4998, 7400, 7556, 4062, 7575, 2254, 8587, 747, 6799, 3495, 5882, 3272, 7973, 1689, 3254, 1657, 5929, 1466, 7456, 26, 1324, 5340, 4563, 2029, 2283, 3407, 3340, 7049, 6300, 350, 1706, 1579, 5154, 2046, 593, 2382, 6469, 6776, 6234, 5810, 7128, 4649, 2086, 3029, 4444, 6701, 3361, 5274, 3417, 4365, 3247, 6770, 1531, 4048, 6487, 4901, 1195, 8509, 3532, 7327, 8163, 5182, 3238, 4002, 5172, 1127, 2485, 4637, 3832, 1850, 5644, 7225, 2702, 4155, 5306, 5628, 7338, 8491, 3289, 6856, 1958, 3594, 7867, 7142, 6499, 5940, 5200, 7535, 8827, 5243, 7323, 393, 2843, 5226, 5352, 1128, 7107, 6783, 3072, 1591, 538, 1837, 1207, 4359, 6908, 7152, 1362, 1809, 1928, 7146, 6881, 6316, 3062, 2373, 851, 40, 3683, 2811, 7205, 158, 6660, 4536, 352, 905, 4494, 4902, 7754, 4091, 4736, 2901, 2732, 7314, 1436, 8551, 7307, 1765, 6419, 8734, 1817, 148, 7290, 2696, 4893, 8856, 4159, 2085, 4118, 2443, 7737, 4944, 25, 2484, 7321, 6389, 3193, 1377, 5459, 7721, 4718, 5135, 2741, 1893, 1601, 2441, 6972, 8203, 405, 1505, 1602, 714, 4919, 2479, 646, 5747, 2466, 52, 1182, 6541, 1492, 2421, 4230, 5026, 1827, 4798, 4065, 8553, 2201, 2204, 6161, 3984, 1637, 6686, 6829, 2289, 1353, 5570, 3195, 3348, 6804, 477, 382, 6795, 1059, 3457, 6964, 4101, 3958, 7239, 3439, 5474, 7929, 1952, 2844, 1633, 4946, 6913, 469, 1240, 8636, 1745, 3320, 6797, 5614, 3310, 2975, 3397, 3847, 7869, 6691, 6869, 366, 6612, 4935, 8559, 4645, 1841, 4358, 3443, 7559, 5060, 3454, 8268, 3702, 1264, 2781, 2488, 1918, 5449, 8895, 8919, 7890, 5290, 3656, 1941, 3951, 6564, 5271, 7031, 5930, 6569, 1265, 4769, 5142, 1365, 7, 136, 1443, 1557, 5161, 4804, 67, 6514, 1228, 2599, 2683, 7909, 5107, 2876, 1939, 8515, 678, 3574, 3653, 3200, 279, 3582, 451, 8537, 6368, 8431, 1232, 2529, 2245, 7549, 4966, 991, 7162, 1394, 1991, 2554, 749, 1327, 109, 3325, 191, 757, 2040, 6714, 2936, 3572, 3373, 3758, 2483, 4447, 4064, 7834, 7696, 3837, 2307, 4263, 6193, 3755, 231, 1797, 8557, 8858, 1440, 3358, 3608, 1979, 7732, 74, 1753, 4511, 1902, 4507, 2167, 2042, 8285, 9017, 8859, 3794, 3881, 5167, 4685, 1467, 4938, 1709, 3052, 2933, 1733, 7505, 2342, 311, 1460, 3859, 1310, 2101, 3145, 1999, 7226, 3313, 2759, 7640, 596, 1106, 2624, 691, 4773, 8339, 2333, 5216, 7802, 810, 2587, 8360, 1339, 8725, 1448, 1283, 3850, 2220, 1444, 8076, 296, 106, 4406, 1679, 7486, 3335, 2091, 6183, 2736, 4267, 4178, 1793, 7219, 2455, 6565, 2182, 5832, 6438, 3921, 2526, 4102, 1935, 4254, 7397, 4158, 5550, 1832, 3445, 5357, 5799, 278, 7333, 7110, 3975, 5023, 4680, 3521, 1895, 923, 2990, 2157, 812, 4793, 2061, 3901, 787, 3818, 6360, 6752, 8014, 2979, 809, 4086, 1589, 3690, 8387, 7885, 2146, 5086, 5598, 5448, 413, 4024, 2471, 6627, 6593, 5169, 6974, 3244, 5305, 2650, 2692, 7362, 5119, 6787, 8846, 7688, 4621, 1537, 364, 4741, 7937, 1803, 7716, 6909, 627, 2771, 8652, 7029, 1967, 1162, 212, 6968, 6151, 6796, 2932, 66, 6213, 1335, 2039, 1606, 8770, 4233, 5065, 6715, 5215, 8651, 240, 2767, 323, 7003, 3288, 5007, 3139, 1395, 3141, 3890, 1823, 4525, 1611, 4383, 3269, 4489, 6256, 2808, 3091, 193, 2379, 1770, 897, 2816, 3049, 7663, 6939, 2701, 3207, 7547, 4100, 4149, 5817, 6486, 4770, 2515, 4075, 2126, 3560, 3034, 571, 1297, 1338, 59, 3575, 7204, 2286, 5413, 3164, 2825, 6723, 3353, 4456, 5951, 3400, 3584, 4256, 4678, 3729, 3507, 3502, 6479, 5304, 5388, 6146, 3554, 4170, 5341, 4317, 4554, 4176, 4557, 5281, 3649, 4106, 4896, 4842, 5279, 5069, 5195, 5210, 4833, 410, 534, 7509, 2319, 1175, 1724, 8251, 620, 8065, 431, 7270, 8169, 2718, 7759, 7168, 2774, 7126, 6927, 706, 5650, 5513, 1792, 7749, 1778, 1712, 7884, 1588, 4202, 5455, 1498, 1458, 4123, 1452, 1409, 5346, 8087, 1311, 3154, 257, 5727, 5896, 5745, 7440, 8917, 7178, 2722, 6380, 3693, 2439, 6611, 7425, 3471, 2362, 2356, 3015, 7733, 3913, 3026, 2194, 6002, 3044, 181, 2032, 5248, 2028, 1964, 1949, 8112, 3529, 573, 3273, 6815, 1085, 95, 4589, 665, 5052, 8549, 8837, 4573, 855, 3253, 8492, 4965, 5246, 392, 5098, 103, 3211, 3359, 8149, 1218, 8389, 1212, 8202, 450, 6736, 4799, 942, 8128, 539, 1157, 558, 8730, 1963, 5943, 1997, 1994, 1993, 7673, 6823, 7426, 7616, 6088, 761, 4693, 6147, 4951, 6614, 7418, 2423, 7316, 3738, 7237, 7088, 6489, 6536, 375, 2036, 6748, 1441, 5547, 5565, 4215, 8317, 8332, 1726, 1471, 2947, 5433, 4278, 6697, 7763, 8266, 1609, 5668, 4156, 1883, 4144, 3422, 2908, 8097, 277, 2591, 3607, 2590, 7292, 1270, 5466, 1546, 2504, 6310, 250, 6314, 2794, 7081, 3688, 287

In [ ]:
l = l.sort_values(by=[0], ascending=False)
user_id = l.iloc[:2,1]

In [ ]:
user_item = pd.DataFrame(user_item)

In [ ]:
user_item['movieId'] = item['movieId']

In [ ]:
user_item

,0,1,2,3,4,5,6,7,8,9,...,9057,9058,9059,9060,9061,9062,9063,9064,9065,movieId
0,48781.50,18564.0,9511.50,1581.0,9333.0,20604.0,8874.0,969.0,3213.0,21471.0,...,25.50,153.0,51.0,76.50,255.0,229.50,255.0,153.0,255.0,1
1,253472.50,96460.0,49422.50,8215.0,48495.0,107060.0,46110.0,5035.0,16695.0,111565.0,...,132.50,795.0,265.0,397.50,1325.0,1192.50,1325.0,795.0,1325.0,2
2,174083.00,66248.0,33943.00,5642.0,33306.0,73528.0,31668.0,3458.0,11466.0,76622.0,...,91.00,546.0,182.0,273.00,910.0,819.00,910.0,546.0,910.0,3
3,848415.50,322868.0,165425.50,27497.0,162321.0,358348.0,154338.0,16853.0,55881.0,373427.0,...,443.50,2661.0,887.0,1330.50,4435.0,3991.50,4435.0,2661.0,4435.0,4
4,373991.50,142324.0,72921.50,12121.0,71553.0,157964.0,68034.0,7429.0,24633.0,164611.0,...,195.50,1173.0,391.0,586.50,1955.0,1759.50,1955.0,1173.0,1955.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,237212.00,90272.0,46252.00,7688.0,45384.0,100192.0,43152.0,4712.0,15624.0,104408.0,...,124.00,744.0,248.0,372.00,1240.0,1116.00,1240.0,744.0,1240.0,813
667,71737.50,27300.0,13987.50,2325.0,13725.0,30300.0,13050.0,1425.0,4725.0,31575.0,...,37.50,225.0,75.0,112.50,375.0,337.50,375.0,225.0,375.0,816
668,118606.00,45136.0,23126.00,3844.0,22692.0,50096.0,21576.0,2356.0,7812.0,52204.0,...,62.00,372.0,124.0,186.00,620.0,558.00,620.0,372.0,620.0,818
669,112867.00,42952.0,22007.00,3658.0,21594.0,47672.0,20532.0,2242.0,7434.0,49678.0,...,59.00,354.0,118.0,177.00,590.0,531.00,590.0,354.0,590.0,820
670,430903.25,163982.0,84018.25,13965.5,82441.5,182002.0,78387.0,8559.5,28381.5,189660.5,...,225.25,1351.5,450.5,675.75,2252.5,2027.25,2252.5,1351.5,2252.5,824

In [ ]:
recommend = user_item.loc[user_id].mean(0).sort_values(ascending=False)

In [ ]:
recommend

284     394926.5
321     391247.5
266     390257.0
525     356014.0
232     347665.5
          ...
4340       141.5
6524       141.5
6522       141.5
6492       141.5
6099       141.5
Length: 9067, dtype: float64

            0    1
670   81991.0  671
669   21476.0  670
668   22568.0  669
667   13650.0  668
666   45136.0  667
..        ...  ...
4     71162.0    5
3    161434.0    4
2     33124.0    3
1     48230.0    2
0      9282.0    1

[671 rows x 2 columns]